# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd
import matplotlib

In [2]:
df = pd.read_csv('raw_data/zillow_data.csv')

In [3]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [4]:
df['RegionName'].value_counts().unique()

array([1])

# Step 2: Data Preprocessing

In [5]:
def get_datetimes(df, first_date_col):
    """
    Converts year-month column headings to date-time.
    
    Args: 
        df: a dataframe with column headdings that are formatted yyyy-mm
        All columns follwing first_date_col should have same format
        first_date_col: the index of the first date column or first column 
        you want converted.
    Returns:
        Series of datetime64 dtype
    """
    return pd.to_datetime(df.columns.values[(first_date_col):], format='%Y-%m')

In [6]:
datetimes = get_datetimes(df, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

# Step 3: EDA and Visualization

In [8]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [9]:
data = df.loc[df['City'] == 'Chicago', '1996-04':]

In [10]:
data.head(100)

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,334200.0,335400.0,336500.0,337600.0,338500.0,339500.0,340400.0,341300.0,342600.0,344400.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
3,498100.0,500900.0,503100.0,504600.0,505500.0,505700.0,505300.0,504200.0,503600.0,503400.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
7,216500.0,216700.0,216900.0,217000.0,217100.0,217200.0,217500.0,217900.0,218600.0,219700.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
16,122700.0,122800.0,122800.0,122700.0,122400.0,122000.0,121500.0,120900.0,120500.0,120300.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
19,142600.0,143100.0,143400.0,143300.0,142900.0,142200.0,141300.0,140100.0,139000.0,138000.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300
40,297900.0,300400.0,302600.0,304700.0,306600.0,308400.0,310200.0,311800.0,314100.0,316600.0,...,1015000,1017600,1020900,1027800,1034400,1041300,1051300,1059300,1060200,1055300
48,93400.0,94100.0,94600.0,94800.0,94700.0,94200.0,93500.0,92500.0,91600.0,90800.0,...,157600,158600,159500,160600,161700,162600,163500,164000,164000,163800
50,148900.0,149300.0,149600.0,149700.0,149700.0,149400.0,149100.0,148500.0,148100.0,147900.0,...,452300,453600,456000,459100,461900,463100,464100,464200,463200,461100
74,76400.0,77000.0,77400.0,77700.0,77700.0,77500.0,77200.0,76600.0,76200.0,75800.0,...,128200,129000,129100,128500,127900,127800,127100,126800,128000,129600
79,435200.0,435200.0,435100.0,434600.0,433900.0,433100.0,432200.0,431200.0,430700.0,430500.0,...,1044200,1041800,1038100,1039200,1042000,1045700,1050800,1050400,1045000,1039700
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1475200,1473900,1469500,1472100,1477800,1486000,1497300,1508600,1508100,1493200
150,71900.0,72500.0,73000.0,73300.0,73400.0,73300.0,73000.0,72600.0,72200.0,71900.0,...,125000,127200,128300,129100,129400,128300,127700,128000,129000,130300
157,146800.0,147700.0,148300.0,148500.0,148400.0,147900.0,146900.0,145500.0,144300.0,143100.0,...,254300,255600,256400,257000,257600,258600,260500,262400,265100,267600
215,150900.0,150100.0,149300.0,148400.0,147600.0,146700.0,146000.0,145300.0,144700.0,144400.0,...,402600,404200,401500,398200,398200,397100,393100,390800,389400,385900
231,77400.0,77600.0,77600.0,77600.0,77500.0,77300.0,77100.0,76800.0,76500.0,76400.0,...,148200,150900,156700,159800,159400,155800,154100,151100,143700,136800
284,160600.0,160400.0,160100.0,159800.0,159500.0,159200.0,158900.0,158700.0,158600.0,158700.0,...,355500,353000,351100,350000,350000,349900,350100,351500,354100,355500
318,217000.0,216900.0,216900.0,216800.0,216800.0,216800.0,216900.0,217100.0,217600.0,218400.0,...,782000,794900,807000,813400,816200,816300,819300,819700,815400,811100
324,195300.0,196600.0,197800.0,198900.0,199900.0,200800.0,201500.0,201900.0,202400.0,203100.0,...,454000,455200,454000,451900,450700,449600,450100,453000,455700,456200
332,135700.0,136200.0,136400.0,136300.0,135800.0,135100.0,134000.0,132700.0,131500.0,130500.0,...,281200,282300,283400,284900,286100,286900,288300,289800,291000,291500
347,166000.0,165600.0,165200.0,164800.0,164400.0,164100.0,163900.0,163800.0,163900.0,164100.0,...,514600,515900,515100,513600,514500,517700,521500,524100,526300,526300
497,89800.0,89800.0,89800.0,89700.0,89500.0,89200.0,88800.0,88200.0,87800.0,87500.0,...,235700,233700,231600,230000,229800,230100,231100,233700,235700,236000
638,127400.0,128300.0,129000.0,129100.0,128900.0,128200.0,127100.0,125600.0,124200.0,122900.0,...,202200,202600,203700,205600,207700,209000,210200,212000,213500,214000
658,111200.0,111900.0,112300.0,112500.0,112500.0,112100.0,111500.0,110700.0,109900.0,109200.0,...,222400,223100,222900,223300,224600,226100,228700,231400,232700,232600
739,150600.0,151600.0,152300.0,152600.0,152400.0,151800.0,150900.0,149600.0,148300.0,147300.0,...,297800,299200,300300,300800,301100,301200,302500,304900,307600,308700
792,86400.0,87200.0,87600.0,87800.0,87700.0,87300.0,86500.0,85600.0,84700.0,83900.0,...,145300,146400,146200,145900,146100,145700,145100,145300,145500,144500
1012,99600.0,100100.0,100400.0,100400.0,100300.0,99900.0,99300.0,98500.0,97700.0,97000.0,...,164100,163300,163200,163800,164000,164300,164700,165200,166100,166700
1360,293500.0,293000.0,292500.0,291700.0,290900.0,290000.0,289000.0,288000.0,287100.0,286700.0,...,720800,721100,721400,721400,722000,722000,718900,715000,712500,709500
1454,164900.0,165400.0,165700.0,165600.0,165400.0,164900.0,164200.0,163300.0,162500.0,161900.0,...,355300,356200,357100,358000,359500,360200,360600,361400,361600,360400
1496,74700.0,75100.0,75400.0,75600.0,75600.0,75500.0,75300.0,74900.0,74600.0,74400.0,...,135600,136100,137300,139600,141800,142900,145200,148300,150300,150900
1727,116900.0,115700.0,114500.0,113300.0,112300.0,111400.0,110700.0,110100.0,109700.0,109500.0,...,320400,321400,323600,326900,330300,332300,334800,335500,334400,333000
1990,510000.0,510200.0,510100.0,509600.0,508800.0,507300.0,505300.0,502800.0,500800.0,499100.0,...,1412200,1420700,1426200,1431000,1436300,1442400,1452900,1464600,1472400,1474500
2360,100900.0,101400.0,101900.0,102300.0,102700.0,103100.0,103500.0,103800.0,104200.0,104800.0,...,358700,359300,358700,358500,358500,355200,353400,352300,349000,345400
2420,215600.0,215100.0,214500.0,213900.0,213200.0,212600.0,212000.0,211400.0,211000.0,210900.0,...,575700,574600,573800,574400,576400,578500,579500,579700,579200,577600
2585,165400.0,165300.0,165000.0,164600.0,164100.0,163500.0,162800.0,162100.0,161500.0,161100.0,...,360700,359500,359200,360200,361800,363400,365500,368300,370800,371400
2830,103700.0,104400.0,104700.0,104700.0,104400.0,103700.0,102800.0,101600.0,100500.0,99500.0,...,173600,174500,175000,174900,174700,174600,174700,174700,174300,173500
3149,180900.0,182200.0,183100.0,183500.0,183400.0,182900.0,181800.0,180400.0,179100.0,177900.0,...,342900,342900,343400,345100,347600,350400,353900,356400,356900,356200
3156,166300.0,166900.0,167200.0,167100.0,166900.0,166300.0,165400.0,164300.0,163400.0,162500.0,...,302600,301500,300600,300100,299500,299000,299300,300800,303000,304000
3960,125700.0,126300.0,126600.0,126500.0,126100.0,125400.0,124200.0,122900.0,121600.0,120400.0,...,223600,223800,224300,226000,228200,229800,231100,232400,233000,232600
4040,197300.0,198900.0,200100.0,200800.0,201000.0,200500.0,199500.0,198000.0,196600.0,195400.0,...,388200,388200,388500,389700,391500,393500,395700,398400,400600,401300
4362,224100.0,223300.0,222400.0,221500.0,220500.0,219600.0,218700.0,218100.0,217800.0,217800.0,...,599700,596200,594100,595500,598000,598500,601500,605800,606700,604400
7863,77900.0,78200.0,78300.0,78500.0,78500.0,78400.0,78300.0,78100.0,77900.0,77700.0,...,103300,104700,105400,106800,109000,110400,111500,112800,113300,113000

In [11]:
plt.plot(data.head(10))
plt.show();

NameError: name 'plt' is not defined

# Step 4: Reshape from Wide to Long Format

In [12]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [13]:
melted_df = melt_data(df)

In [14]:
melted_df.head()

                    value
time
1996-04-01  118299.123063
1996-05-01  118419.044139
1996-06-01  118537.423268
1996-07-01  118653.069278
1996-08-01  118780.254312

In [15]:
chicago_melted = melt_data(df.loc[df['RegionName'] == 60657])

In [16]:
plt.plot(chicago_melted)
plt.show()

NameError: name 'plt' is not defined

# Step 5: ARIMA Modeling

In [19]:
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
plt.style.use('fivethirtyeight')
from fbprophet import Prophet as proph

ERROR:fbprophet:Importing plotly failed. Interactive plots will not work.

In [20]:
def model_price(df, start, end, periods=36, freq='MS', interval_width=0.80):
    df = df.reset_index()
    df.columns = ['ds', 'y']
    data = df.loc[(df['ds'] > start) & (df['ds'] < end)]
    print(data)
    Model = proph(interval_width=interval_width)
    Model.fit(data)
    future_dates = Model.make_future_dataframe(periods=periods, freq=freq)
    forecast = Model.predict(future_dates)
    return Model, forecast

In [21]:
model, forecast = model_price(chicago_melted, '1996-04-01', '2017-11-01')
Model.plot(forecast, uncertainty=True)
plt.show()

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

            ds          y
1   1996-05-01   335400.0
2   1996-06-01   336500.0
3   1996-07-01   337600.0
4   1996-08-01   338500.0
5   1996-09-01   339500.0
..         ...        ...
254 2017-06-01   999100.0
255 2017-07-01  1005500.0
256 2017-08-01  1007500.0
257 2017-09-01  1007800.0
258 2017-10-01  1009600.0

[258 rows x 2 columns]

NameError: name 'Model' is not defined

# Step 6: Interpreting Results

In [22]:
import math

In [ ]:
math.sqrt()